* {
    font-family: sans-serif;
    box-sizing: border-box;
  }
 /* th, td {
    font-size: 18px;
    padding: 10px;
  }
  th {
    background: #555;
    color: #fff;
  }
  td {
    background: #eee;
  }
  a {
    text-decoration: none;
    transition: 0.2s ease;
    color: #3f75c5;
  }
  td:nth-child(7) > a {
    color: #c22a2a;
  }
  a:hover {
    opacity: 0.7;
  }
  p {
    font-style: italic;
  }
  input, textarea, button {
    padding: 10px;
    display: block;
    min-height: 30px;
    width: 250px;
    margin-bottom: 10px;
  }
  textarea {
    resize: vertical;
    height: 80px;
  }
  button {
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
  }*/
.table_sort table {
  border-collapse: collapse;
}

.table_sort th {
  color: #ffebcd;
  background: #008b8b;
  cursor: pointer;
}

.table_sort td,
.table_sort th {
  width: 150px;
  height: 40px;
  text-align: center;
  border: 2px solid #846868;
}

.table_sort tbody tr:nth-child(even) {
  background: #e3e3e3;
}

th.sorted[data-order="1"],
th.sorted[data-order="-1"] {
  position: relative;
}

th.sorted[data-order="1"]::after,
th.sorted[data-order="-1"]::after {
  right: 8px;
  position: absolute;
}

th.sorted[data-order="-1"]::after {
  content: "▼"
}

th.sorted[data-order="1"]::after {
  content: "▲"
}